@font-face {
  font-family: MainFont;
  src: url(AquireBold-8Ma60.otf);
}

/* cyan red theme */
/* :root {
  --dark-blue: #010A14;
  --light-cyan: #89FDFF;
  --alive: #ff003b;
  --butt: #044F59;
} */

/* green red terminal theme */
:root {
  --dark-blue: #000b00;
  --light-cyan: #45ff07;
  --alive: #ff003b;
  --butt: #045924;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body {
  background: var(--dark-blue, black);
  font-family: 'Roboto Mono', monospace;
  color: white;
}

h1 {
  text-align: center;
  font-family: MainFont, monospace;
  text-shadow: 0px 0px 15px;
  font-size: 2em;
  color: var(--light-cyan, cyan);
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-game {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  transform: scale(1.3);
  /* width: 50vw; */
  margin-top: 30px;
  margin-bottom: 10px;
}

.alive, .dead {
  margin: 0 2px;
  display: inline-block;
}

.alive {
  background: var(--alive, yellow);
  height: 19px;
  width: 19px;
  /* border: 1px solid var(--alive, yellow); */
  box-shadow: 0 0 4px var(--alive, yellow);
}

.dead {
  height: 17px;
  width: 17px;
  background: transparent;
  border: 1px solid gray;
}

//fix the flex directipn adn button size on phones
.game {
  border: 3px solid var(--light-cyan, cyan);
  border-radius: 15px;
  background: white;
  transition: all 100ms ease 0s;
  color: var(--butt, teal);
  margin: 5px;
  cursor: pointer;
}

.game:hover {
  box-shadow: 0 0 10px var(--light-cyan, cyan);
  transform: scale(0.95);
}

.stats {
  color: var(--light-cyan, cyan);
  font-size: 1.3em;
}

p {
  margin: 10px 20px;
}

@media screen and (max-width: 740px) {
  /* looks good till 570px width */
  .controls {
    width: 50vw;
    margin: 10px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .game {
    padding: 0px 15px;
  }
}